<div class="row align-items-start">
  <div class="col-md-8">
    <table class="table table-cv table-sm table-borderless table-responsive">
      {% for content in entry.contents %}
        <tr>
          <td class="p-1 pr-2 font-weight-bold">
            <b>{{ content.name }}</b>
          </td>
          {% if content.value %}
            <td class="p-1 pl-2 font-weight-light text">{{ content.value }}</td>
          {% endif %}
          {% if content.links %}
            <td class="p-1 pl-2 font-weight-light text">
              <div class="container-pdf">
                {% for item in content.links %}
                  {% if item.link %}
                    <div class="container-link-button">
                      {% if item.name %}
                        <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">{{ item.name }}</a>
                      {% else %}
                        <a href="{{ item.link }}" target="_blank" class="btncv z-depth-0">doc</a>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>

    <div class="social-icons mt-3 ml-1 ml-md-4">
      {% if page.profile_orcid %}
        <a href="https://orcid.org/{{ page.profile_orcid }}" target="_blank" rel="noopener noreferrer" title="ORCID"
          ><i class="fa-brands fa-orcid"></i
        ></a>
      {% endif %}
      {% if page.profile_scholar %}
        <a
          href="https://scholar.google.com/citations?user={{ page.profile_scholar }}"
          target="_blank"
          rel="noopener noreferrer"
          title="Google Scholar"
          ><i class="ai ai-google-scholar"></i
        ></a>
      {% endif %}
      {% if page.profile_github %}
        <a href="https://github.com/{{ page.profile_github }}" target="_blank" rel="noopener noreferrer" title="GitHub"
          ><i class="fa-brands fa-github"></i
        ></a>
      {% endif %}
      {% if page.profile_twitter %}
        <a href="https://twitter.com/{{ page.profile_twitter }}" target="_blank" rel="noopener noreferrer" title="Twitter"
          ><i class="fa-brands fa-twitter"></i
        ></a>
      {% endif %}
      {% if page.profile_linkedin %}
        <a href="https://www.linkedin.com/in/{{ page.profile_linkedin }}" target="_blank" rel="noopener noreferrer" title="LinkedIn"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      {% endif %}
      {% if page.profile_website %}
        <a href="{{ page.profile_website }}" target="_blank" rel="noopener noreferrer" title="Website"><i class="fa-solid fa-globe"></i></a>
      {% endif %}
    </div>
  </div>
  <div class="col-md-4 d-flex justify-content-center">
    {% if page.profile_image %}
      {% assign profile_image_path = page.profile_image | prepend: 'assets/img/' %}
      <div style="max-width: 200px;">
        {%
          include figure.liquid
          loading="eager"
          path=profile_image_path
          class="img-fluid z-depth-1 rounded"
          alt=page.title
          cache_bust=true
        %}
      </div>
    {% endif %}
  </div>
</div>
